<header>
    <nav id="barra-navegacao" class="navegacao-principal">
        <div class="container-nav">
            <div class="logo">
                <img src="/frontend/img/logo.png" alt="Logo Rokuzen">
            </div>

            <ul class="lista-nav">
                <li class="item-nav"><a href="/frontend/html/index.html">Home</a></li>
                <li class="item-nav"><a href="/frontend/html/sobrenos.html">Sobre nós</a></li>
                <li class="item-nav"><a href="/frontend/html/contatar.html">Fale conosco</a></li>
            </ul>
        </div>

        <div id="auth-container-desktop">
            <a href="/frontend/html/login.html" class="btn-primario auth-login-link">Login</a>
            <div class="profile-dropdown auth-profile-menu" style="display: none;">
                <button class="btn-profile" aria-label="Abrir menu do perfil">
                    <img src="https://icongr.am/feather/user.svg?size=24&color=ffffff" alt="Ícone de Perfil">
                </button>
                <div class="profile-menu-content">
                    <a href="#" class="logout-link">Sair</a>
                </div>
            </div>
        </div>

        <button id="btn-mobile" aria-label="Abrir menu de navegação"><i class="fa-solid fa-bars"></i></button>
    </nav>

    <div class="menu-mobile">
        <ul class="lista-nav-mobile">
            <li class="item-nav"><a href="/frontend/html/index.html">Home</a></li>
            <li class="item-nav"><a href="/frontend/html/sobrenos.html">Sobre nós</a></li>
            <li class="item-nav"><a href="/frontend/html/contatar.html">Fale conosco</a></li>
        </ul>

        <div id="auth-container-mobile">
            <a href="/frontend/html/login.html" class="btn-primario auth-login-link">Login</a>
            <div class="profile-dropdown auth-profile-menu" style="display: none;">
                <button class="btn-profile" aria-label="Abrir menu do perfil">
                    <img src="https://icongr.am/feather/user.svg?size=24&color=ffffff" alt="Ícone de Perfil">
                </button>
                <div class="profile-menu-content">
                    <a href="#" class="logout-link">Sair</a>
                </div>
            </div>
        </div>
    </div>
</header>