DB_HOST=seu-servidor.mysql.com
DB_PORT=3306
DB_USER=usuario
DB_PASSWORD=senha-secreta
DB_NAME=defaultdb

# Opcional para conexões SSL
# DB_USE_SSL=true
# DB_SSL_CA_PATH=certificados/ca.pem
# DB_SSL_CA=-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----
# DB_SSL_REJECT_UNAUTHORIZED=true

